@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Outfit', sans-serif;
}

body {
  min-height: 100vh;
  max-width: 1024px;
  margin: auto;
  padding: 1em;
  background-color: #EEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #000;
}

header {
  padding: 0.5em;
  text-align: center;
  background-color: #FFF;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

header img {
  width: 50%;
}

header p {
  margin: 0.5em 0;
}

main {
  width: 100%;
}

.home__gbaf h1 {
  margin: 0.5em 0;
  text-align: center;
  font-size: 2em;
}

.home__gbaf p {
  margin: 10px 0;
}

.home__gbaf li {
  margin: 10px 25px;
}

.home__partners article, .home__partners aside, .home__partner article, .home__partner aside {
  margin: 1em 0;
  padding: 0.5em;
  background-color: #FFF;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.home__partners h2, .home__partners h3, .home__partner h2, .home__partner h3 {
  margin: 0.5em 0;
  text-align: center;
  font-size: 1.5em;
}

.home__partners h3, .home__partner h3 {
  font-size: 1.25em;
}

.home__partners img, .home__partner img {
  width: 100%;
}

.home__partners hr, .home__partner hr {
  margin: 0.5em 0;
}

.home__partners li, .home__partner li {
  margin-left: 25px;
  margin-top: 10px;
}

.home__partners__description, .home__partner__description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.home__partners__description *:not(:first-child), .home__partner__description *:not(:first-child) {
  display: none;
}

.home__partners__links, .home__partner__links {
  margin: 0.5em 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home__partners__links div, .home__partners__links p, .home__partners__links a, .home__partner__links div, .home__partner__links p, .home__partner__links a {
  padding: 5px;
  border: 1px solid #DDD;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  font-size: 0.8em;
}

.home__partner__comment {
  margin: 0.5em 0;
  padding: 5px;
  border: 1px solid #DDD;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.home__partner__commentForm {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}

.home__partner__commentForm.visible {
  height: 150px;
}

.home__partner__commentForm label, .home__partner__commentForm button, .home__partner__commentForm textarea {
  display: block;
  width: 100%;
  margin: 0.5em 0;
  padding: 2px;
}

.home__partner__commentForm textarea {
  height: 75px;
}

.profil h2 {
  margin: 0.5em 0;
}

.profil hr {
  margin-top: 0.5em;
}

.login, .register, .profil {
  text-align: center;
}

.login h1, .register h1, .profil h1 {
  margin: 0.5em 0;
  font-size: 2em;
}

.login ul, .register ul, .profil ul {
  padding: 5px;
  background-color: rgba(220, 53, 69, 0.25);
  border: 1px solid #dc3545;
  border-radius: 5px;
  color: #dc3545;
}

.login li, .register li, .profil li {
  list-style: none;
}

.login__form label, .login__form input, .login__form select, .login__form button, .register__form label, .register__form input, .register__form select, .register__form button, .profil__form label, .profil__form input, .profil__form select, .profil__form button {
  width: 100%;
  margin: 0.5em 0;
  padding: 2px;
}

.login__form__checkbox input, .register__form__checkbox input, .profil__form__checkbox input {
  width: unset;
}

.login__links, .register__links, .profil__links {
  margin: 0.5em 0;
}

.error, .success {
  padding: 5px;
  background-color: rgba(220, 53, 69, 0.25);
  border: 1px solid #dc3545;
  border-radius: 5px;
  color: #dc3545;
}

.success {
  background-color: rgba(40, 167, 69, 0.25);
  border: 1px solid #28a745;
  color: #28a745;
}
/*# sourceMappingURL=style.css.map */