@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Outfit', sans-serif;
}

body {
    min-height: 100vh;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header {
    text-align: center;
    img {
        width: 50%;
    }
}

//Page de login

.login, .register {
    text-align: center;
    
    h1 {
        margin: 0.5em;
        font-size: 2em;
    }
    &__form {
        label, input, select, button {
            width: 100%;
            margin: 0.5em 0;
            padding: 2px;
        }
        &__checkbox {
            input {
                width: unset;
            }
        }
    }
    &__links {
        margin: 0.5em;
    }
}

//Error & success
.error, .success {
    padding: 5px;
    background-color: rgba(220, 53, 69, 0.25);
    border: 1px solid #dc3545;
    border-radius: 5px;
    color: #dc3545;
}
.success {
    background-color: rgba(40, 167, 69, 0.25);
    border: 1px solid #28a745 ;
    color: #28a745 ;
}